body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	line-height: 1.625;
}

ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

a {
	&:hover,
	&:active,
	&:focus, {
		text-decoration: none;
		outline: none;
		cursor: pointer;
	}
}

button {
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
	box-shadow: none;

	&:active {
		box-shadow: none;
	}

	&:focus {
		outline: none;
	}
}

select {
	appearance: none;
	
	&:focus {
		outline: none;
	}

	&::-ms-expand {
		display: none;
	}
}
