@font-face {
  font-family: 'obe-icon-font';
  src:
    url('../fonts/obe-icon-font/fonts/obe-icon-font.ttf?nqa13q') format('truetype'),
    url('../fonts/obe-icon-font/fonts/obe-icon-font.woff?nqa13q') format('woff'),
    url('../fonts/obe-icon-font/fonts/obe-icon-font.svg?nqa13q#obe-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'obe-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ic-info:before {
  content: "\e915";
}

.ic-checkbox-check-mark:before {
  content: "\e913";
}
.ic-check-mark:before {
  content: "\e914";
}
.ic-arrow:before {
  content: "\e912";
}
.ic-flight-ticket:before {
  content: "\e911";
}
.ic-flight-24h:before {
  content: "\e90e";
}
.ic-flight-payment:before {
  content: "\e90f";
}
.ic-flight-service:before {
  content: "\e910";
}
.ic-close:before {
  content: "\e900";
}
.ic-flights:before {
  content: "\e901";
}
.ic-gateway:before {
  content: "\e902";
}
.ic-guests:before {
  content: "\e903";
}
.ic-payment:before {
  content: "\e904";
}
.ic-room:before {
  content: "\e905";
}
.ic-to-top-icon:before {
  content: "\e906";
}
.ic-calendar-icon:before {
  content: "\e907";
}
.ic-dropdown-icon:before {
  content: "\e908";
}
.ic-header-menu:before {
  content: "\e909";
}
.ic-info-icon:before {
  content: "\e90a";
}
.ic-right-icon:before {
  content: "\e90b";
}
.ic-sandals-logo:before {
  content: "\e90c";
}
.ic-small-menu-icon:before {
  content: "\e90d";
}
