.flights {
	.step-menu {
		padding-top: 3.3rem;

		@media (max-width: $screen-xs-max) {
			padding-top: 2.3rem;
		}

		&_list {
			margin-bottom: 3.6rem;

			@media (max-width: $screen-sm-max) {
				margin-bottom: 2.5rem;
			}

			@media (max-width: $screen-xs-max) {
				margin-bottom: 1.8rem;
			}
		}
	}

	.offer {
		position: relative;
		padding-top: 3.7rem;
		color: color(shades, white);
		text-align: center;
		background-color: color(blue);

		@media (max-width: $screen-sm-max) {
			padding-top: 6rem;
		}

		@media (max-width: $screen-xs-max) {
			padding-top: 3rem;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -2.9rem;
			left: 50%;
			border-width: 3rem 3rem 0 3rem;
			border-style: solid;
			border-color: color(blue) transparent color(blue) transparent;
			transform: translateX(-50%);
		}

		&_header {
			position: relative;
			max-width: 135rem;
			margin-right: auto;
			margin-left: auto;
			padding-bottom: 2rem;
			border-bottom: .1rem solid color(blue, lighter-2);

			@media (max-width: $screen-sm-max) {
				max-width: 100%;
			}
		}

		h1 {
			margin-top: .5rem;
			margin-bottom: .6rem;
			font-size: 4.8rem;
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing: .1rem;

			@media (max-width: $screen-sm-max) {
				margin-top: .6rem;
				margin-bottom: .7rem;
				font-size: 4.6rem;
				letter-spacing: .22rem;
			}

			@media (max-width: $screen-xs-max) {
				margin-top: 1rem;
				line-height: 1;
			}
		}

		p {
			max-width: 80rem;
			margin-right: auto;
			margin-left: auto;
			font-size: 1.6rem;
			font-weight: 600;
			line-height: 1.2;

			@media (max-width: $screen-md-max) {
				max-width: 70rem;
				line-height: 1.4;
			}

			@media (max-width: $screen-sm-max) {
				line-height: 1.2;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 91%;
				margin-top: 1.6rem;
				font-size: 2.4rem;
				line-height: 1.25;
			}
		}

		&_list {
			display: flex;
			justify-content: space-between;
			margin-top: 1rem;
			margin-bottom: 4.3rem;
			overflow: hidden;

			@media (max-width: $screen-md-max) {
				margin-bottom: 4rem;
			}

			@media (max-width: $screen-sm-max) {
				margin-bottom: 3.6rem;
			}

			@media (max-width: $screen-xs-max) {
				flex-direction: column;
				margin-top: 3.7rem;
				margin-bottom: 1.7rem;
			}
		}

		&_item {
			display: flex;
			flex-direction: column;
			min-width: 29.1rem;
			padding-top: 1.5rem;
			padding-right: 2.5rem;
			color: color(shades, white);

			@media (max-width: $screen-md-max) {
				min-width: 23rem;
			}

			@media (max-width: $screen-sm-max) {
				min-width: 18.6rem;
				padding-top: 1.8rem;
				padding-right: 0;
				padding-right: 3rem;
			}

			@media (max-width: $screen-xs-max) {
				margin-bottom: 5.5rem;
				padding: 0;
			}

			.ic {
				font-size: 7.5rem;
			}

			.title {
				flex-grow: 1;
				margin: .3rem auto 1rem;
				font-size: 2.2rem;
				font-weight: 600;
				line-height: 2.5rem;
				letter-spacing: .1rem;

				@media (max-width: $screen-sm-max) {
					margin-top: .8rem;
					margin-bottom: 1.8rem;
					line-height: 2.4rem;

					br {
						display: none;
					}
				}
			}

			a,
			a:hover {
				font-size: 1.3rem;
				font-weight: 700;
				color: color(shades, white);
				text-transform: uppercase;
				text-decoration: none;

				.ic {
					font-size: 1rem;
				}
			}
		}
	}

	.form {
		padding-right: 1.5rem;
		padding-bottom: 1rem;
		padding-left: 1.5rem;
		color: color(grey, dark);
		text-align: center;
		background-color: color(grey, lighter-7);

		@media (max-width: $screen-xs-max) {
			text-align: left;
		}

		&_title {
			padding-top: 7rem;
			font-size: 3.4rem;
			font-weight: 300;
			letter-spacing: -.08rem;

			@media (max-width: $screen-sm-max) {
				margin-bottom: 1.1rem;
				padding-top: 6.1rem;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 80%;
				margin-bottom: 0;
				padding-top: 8.3rem;
				font-size: 2.6rem;
				line-height: 1.2;
				letter-spacing: -.05rem;
			}
		}

		&_radio {
			margin-top: .5rem;
			margin-right: 1.3rem;
			margin-left: 5.7rem;
			font-size: 1.8rem;

			@media (max-width: $screen-sm-max) {
				margin-right: 2rem;
				margin-left: 5.3rem;
			}

			@media (max-width: $screen-xs-max) {
				display: block;
				margin-top: 3.2rem;
				margin-left: 4.6rem;
			}

			input {
				display: none;
			}

			span {
				position: relative;
				color: color(grey, dark);

				&:after {
					content: '';
					position: absolute;
					top: -.5rem;
					left: -4.5rem;
					width: 3.3rem;
					height: 3.3rem;
					background-color: color(shades, white);
					border: .1rem solid color(grey, lighter-8);
					border-radius: 50%;
					cursor: pointer;
				}

				&:before {
					content: '';
					position: absolute;
					top: .6rem;
					left: -3rem;
					z-index: 1;
					width: 0;
					height: 0;
					background-color: color(blue);
					border-radius: 50%;
					transition: .1s;
				}
			}

			input:checked~span:before {
				top: .1rem;
				left: -3.9rem;
				width: 2.1rem;
				height: 2.1rem;
			}
		}

		.selects {
			position: relative;
			max-width: 100rem;
			margin-top: 3.5rem;
			margin-right: auto;
			margin-left: auto;
			padding: 3rem 9.6rem 5rem 9.8rem;
			background-color: color(shades, white);
			box-shadow: 0 0 3.2rem rgba(color(shades, black), .15);

				@media (max-width: $screen-sm-max) {
					max-width: 71.4rem;
					padding-right: 3.2rem;
					padding-left: 3.4rem;
				}

				@media (max-width: $screen-xs-max) {
					margin-top: 5rem;
					padding-right: 2.2rem;
					padding-bottom: 4rem;
					padding-left: 2.1rem;
				}

				&::before {
					content: '';
					position: absolute;
					top: -1.5rem;
					left: 53%;
					width: 3rem;
					height: 3rem;
					background-color: color(shades, white);
					transform: rotate(45deg);

					@media (max-width: $screen-xs-max) {
						left: 6.2rem;
					}
				}

				&_title {
					font-size: 2.8rem;
					font-weight: 300;
					color: color(grey, dark);
					text-align: left;
					letter-spacing: -.08rem;

					@media (max-width: $screen-xs-max) {
						margin-bottom: 0;
						line-height: 1;
					}
				}

				&_wrap {
					display: flex;
					justify-content: space-between;

					@media (max-width: $screen-xs-max) {
						flex-direction: column;
					}
				}

				&_item {
					position: relative;
					display: flex;
					flex-direction: column;
					margin-top: .8rem;
					text-align: left;

					@media (max-width: $screen-sm-max) {
						margin-top: .5rem;
					}

					@media (max-width: $screen-xs-max) {
						margin-top: 2.5rem;
					}

					span {
						font-size: 1.6rem;
						color: color(grey);
					}
				}

				&_item:nth-child(odd) {
					margin-right: 1rem;

					@media (max-width: $screen-xs-max) {
						margin-right: 0;
					}
				}

				.select {
					position: relative;
					margin-top: .6rem;

					@media (max-width: $screen-xs-max) {
						margin-top: 1rem;
					}
				}

				select {
					width: 38.8rem;
					height: 4.7rem;
					padding-left: 1.6rem;
					font-size: 2rem;
					font-weight: 600;
					vertical-align: middle;
					color: color(shades, black);
					letter-spacing: .06rem;
					border: .1rem solid color(grey, lighter-11);
					border-radius: .4rem;

					appearance: none;

					option {
						font-weight: 600;
					}

					@media (max-width: $screen-sm-max) {
						width: 31rem;
					}

					@media (max-width: $screen-xs-max) {
						width: 100%;
						font-size: 1.5rem;
					}
				}

				.ic {
					position: absolute;
					top: 50%;
					right: 1.4rem;
					font-size: 2.2rem;
					color: color(blue);
					transform: translateY(-50%);
				}
		}

		.button {
			display: block;
			margin-top: 2.6rem;
			margin-right: auto;
			margin-bottom: 18.8rem;
			margin-left: auto;
			padding: 1.8rem 10rem;
			font-size: 3.2rem;
			line-height: 1;
			color: color(shades, white);
			text-transform: uppercase;
			background-color: color(blue);
			border-radius: .4rem;
			transition: .2s;

			&:hover {
				opacity: .8;
			}

			@media (max-width: $screen-sm-max) {
				margin-bottom: 12.7rem;
			}

			@media (max-width: $screen-xs-max) {
				min-width: 29rem;
				margin-top: 3rem;
				margin-bottom: 10.2rem;
				padding: 1.8rem 0;
			}
		}

		.btn--view {
			margin-top: 4.3rem;
			margin-bottom: 12.3rem;
			padding-right: 7.5rem;
			padding-left: 7.5rem;

			@media (max-width: $screen-sm-max) {
				margin-top: 3.8rem;
				margin-bottom: 15.2rem;
			}

			@media (max-width: $screen-xs-max) {
				min-width: 29rem;
				margin-top: 5rem;
				margin-bottom: 14.4rem;
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
}