.guests {
    padding-top: 7rem;
    padding-bottom: 15.8rem;
    background-color: color(grey, lighter-7);

    @media (max-width: $screen-sm-max) {
        padding-bottom: 8.7rem;
    }

    @media (max-width: $screen-xs-max) {
        padding-top: 3.3rem;
        padding-bottom: 11.7rem;
    }

    .form-wrap {
        max-width: 74.6rem;
        margin-right: auto;
        margin-left: auto;
    }

    .form-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 5rem;
        font-weight: 300;
        color: color(grey, dark);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: -.15rem;

        &_additional {
            margin-top: 8.3rem;

            @media (max-width: $screen-sm-max) {
                margin-top: 5.7rem;
            }

            @media (max-width: $screen-xs-max) {
                margin-top: 4.9rem;
                line-height: 5rem;
            }
        }
    }

    .form-subtitle {
        display: block;
        margin-bottom: 1.7rem;
        font-size: 2.1rem;
        line-height: 2rem;
        color: color(grey);
        text-align: center;
        text-transform: uppercase;

        @media (max-width: $screen-xs-max) {
            line-height: 2.5rem;
        }

        &_additional {
            margin-bottom: 2.8rem;
        }
    }

    .form-description {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        color: color(grey, dark);
        text-align: center;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 1.8rem;
        }

        span {
            font-weight: 600;
            color: color(red, darker-1);
            letter-spacing: .025rem;
        }
    }

    .form-required {
        display: block;
        margin-bottom: 2.7rem;
        font-size: 1.2rem;
        font-weight: 600;
        color: color(grey, dark);
        text-align: center;
    }

    .form-inner {
        padding-top: 3.2rem;
        padding-bottom: .7rem;
        border-top: .1rem solid color(grey, lighter-2);

        @media (max-width: $screen-xs-max) {
            padding-top: 2rem;
            padding-bottom: 1.6rem;
        }
    }

    .form-field-wrap {
        display: flex;
        flex-wrap: wrap;
        height: 4.5rem;
        margin-bottom: 2.5rem;

        @media (max-width: $screen-xs-max) {
            height: auto;
            margin-bottom: 2.35rem;
        }
    }

    .form-label {
        display: block;
        width: 26%;
        margin-bottom: 0;
        padding-top: 1.2rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.9rem;
        color: color(grey, dark);
        letter-spacing: .04rem;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            margin-bottom: 1rem;
            letter-spacing: .02rem;
        }

        &_required{
            &:after{
                display: inline;
                content: "\002A";
                color: color(blue);
            }
        }

        &_number {
            padding-right: 3rem;
        }
    }

    .form-select {
        position: relative;
        width: 74%;
        height: 100%;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            height: 5rem;
        }

        select {
            width: 100%;
            height: 100%;
            padding-right: 1.8rem;
            padding-left: 1.8rem;
            font-size: 1.8rem;
            font-weight: 600;
            color: color(grey, dark);
            letter-spacing: .04rem;
            background-color: color(shades, white);
            border: none;
            border: .1rem solid color(grey, lighter-2);
            border-radius: .3rem;
            outline: none;
            appearance: none;

            @media (max-width: $screen-xs-max) {
                padding-right: 1.4rem;
                padding-left: 1.4rem;
            }
        }

        i {
            position: absolute;
            right: 1.2rem;
            top: 50%;
            font-size: 2.3rem;
            color: color(blue);
            transform: translateY(-50%);
        }

        &_small {
            width: 32%;

            @media (max-width: $screen-sm-max) {
                width: 29.3%;
            }

            @media (max-width: $screen-xs-max) {
                width: 32%;
            }
        }
    }

    .form-input {
        width: 74%;
        height: 4.5rem;
        padding-right: 1.8rem;
        padding-left: 1.8rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: color(grey, dark);
        letter-spacing: .04rem;
        border: .1rem solid color(grey, lighter-2);
        border-radius: .3rem;
        outline: none;
        appearance: none;

        @media (max-width: $screen-xs-max) {
            width: 100%;
            height: 5rem;
            padding-right: 1.4rem;
            padding-left: 1.4rem;
        }

        &_small {
            width: 32%;
        }

        &_zip {
            width: 18rem;
        }
    }

    .form-select-block {
        display: flex;
        justify-content: space-between;
        width: 74%;

        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }

    .form-field-description {
        margin-top: 3.6rem;
        margin-bottom: 2.5rem;
        padding-left: 26.4%;
        font-size: 1.8rem;
        font-weight: 600;
        color: color(grey, darker-6);
        letter-spacing: .03rem;

        @media (max-width: $screen-xs-max) {
            margin-bottom: 1.9rem;
            padding-left: 0;
        }

        span {
            color: color(blue);
        }
    }

    .form-contact-description {
        max-width: 46rem;
        margin: 7.7rem auto 4.1rem;
        font-size: 3rem;
        line-height: 3.9rem;
        color: color(grey, dark);
        text-align: center;
        letter-spacing: -.02rem;

        @media (max-width: $screen-sm-max) {
            margin: 5.9rem auto 4.1rem;
        }

        @media (max-width: $screen-xs-max) {
            margin: 5.9rem auto 2.6rem;
            letter-spacing: -.04rem;
        }
    }

    .form-radio-wrap {
        text-align: center;

        @media (max-width: $screen-xs-max) {
            text-align: left;
        }
    }

    .form-radio {
        position: relative;
        display: inline-block;
        margin-right: 2.7rem;
        padding-left: 4.5rem;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 3.5rem;
        color: color(gray, dark);
        user-select: none;

        @media (max-width: $screen-xs-max) {
            line-height: 5.7rem;
        }

        input {
            display: none;

            &:checked {
                & ~ span {
                    &:after {
                        background: color(blue);
                    }
                }
            }
        }

        span {
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 3.5rem;
                height: 3.5rem;
                background: color(shades, white);
                border: .1rem solid color(grey, lighter-13);
                border-radius: 50%;
                transform: translateY(-50%);
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: .75rem;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .emergency {
        max-width: 94rem;
        margin: 3.4rem auto 1.3rem;
        padding: 2.5rem 3rem 2.4rem;
        letter-spacing: .04rem;
        background-color: color(blue, lighter-4);
        border-bottom: .2rem solid color(blue, lighter-5);

        @media (max-width: $screen-sm-max) {
            margin: 2.7rem auto .6rem;
            padding: 2.5rem 3rem 2.2rem;
        }

        @media (max-width: $screen-xs-max) {
            margin: 3.3rem auto 2.3rem;
            padding: 1.9rem 1.5rem 2.4rem;
        }
    }

    .emergency-description {
        margin-bottom: 3rem;
        font-size: 1.8rem;
        color: color(red);

        @media (max-width: $screen-xs-max) {
            margin-bottom: 2.8rem;
            text-align: center;
        }
    }

    .options-button {
        display: block;
        width: 35.8rem;
        max-width: 100%;
        height: 6.9rem;
        margin-top: 3.8rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 3.2rem;
        color: color(shades, white);
        text-transform: uppercase;
        background-color: color(blue);
        border-radius: .3rem;

        @media (max-width: $screen-sm-max) {
            margin-top: 3.7rem;
        }

        @media (max-width: $screen-xs-max) {
            margin-top: 3.1rem;
        }

        &:hover {
            background-color: color(blue, lighter-3);
        }
    }

    .options-price-link {
        text-decoration: none;

        &-wrap {
            margin-top: .5rem;
            text-align: center;
        }

        span {
            margin-top: 1.1rem;
            font-size: 1.4rem;
            color: color(grey);
            text-transform: uppercase;
        }

        i {
            display: inline-block;
            font-size: 1.1rem;
            color: color(blue);
            text-indent: .5rem;
        }
    }
}
