.home {
    .main-banner {
        background-color: color(grey, darker-1);

        .container {
            padding-right: 0;
            padding-left: 0;

            @media (max-width: $screen-sm-max) {
                width: 100%;
            }
        }

        &-image {
            width: 100%;
        }
    }

    .form-main {
        padding-top: 5.2rem;
        background-color: color(grey, dark);

        @media (max-width: $screen-sm-max) {
            padding-top: 4.5rem;
            padding-bottom: 4.1rem;
        }

        @media (max-width: $screen-xs-max) {
            padding-bottom: 3.4rem;
        }

        h2 {
            margin-top: 0;
            margin-bottom: .7rem;
        }

        &-inner {
            max-width: 94rem;
            margin-right: auto;
            margin-left: auto;
            border-bottom: .1rem solid color(grey, darker-5);

            @media (max-width: $screen-sm-max) {
                max-width: 47rem;
            }
        }

        &-title {
            font-size: 3.4rem;
            font-weight: 300;
            color: color(shades, white);
            letter-spacing: -.02rem;

            @media (max-width: $screen-xs-max) {
                font-size: 2.5rem;
                letter-spacing: .03rem;
            }
        }
    }

    .form-main-datepicker {
        position: relative;

        &-wrap {
            padding-bottom: 4.9rem;
        }

        i {
            position: absolute;
            top: 50%;
            right: 1.4rem;
            display: block;
            font-size: 2.9rem;
            color: color(blue);
            transform: translateY(-50%);
        }

        &-name {
            font-size: 1.2rem;
            font-weight: 600;
            color: color(grey, lighter-2);
        }

        &-input {
            width: 100%;
            height: 5rem;
            padding-right: 5.6rem;
            padding-left: 1.6rem;
            font-size: 1.8rem;
            color: color(grey, dark);
            letter-spacing: .04rem;
            background-color: color(shades, white);
            border: none;
            border-radius: .3rem;
            outline: none;

            &::-ms-clear {
                display: none;
            }

            &::-webkit-input-placeholder {
                color: color(grey);
            }
            &::-moz-placeholder {
                color: color(grey);
            }
            &:-ms-input-placeholder {
                color: color(grey);
            }
            &:-moz-placeholder {
                color: color(grey);
            }

            &:hover {
                cursor: pointer;
            }
        }

        &-checkout {
            @media (max-width: $screen-sm-max) {
                margin-top: 2.8rem;
            }
        }
    }

    .form-main-resorts {
        display: flex;
        align-items: center;
        height: 21.6rem;

        @media (max-width: $screen-sm-max) {
            display: block;
            height: auto;
            padding-top: 3.6rem;
            padding-bottom: 4.5rem;
        }

        @media (max-width: $screen-xs-max) {
            padding-top: 2.9rem;
            padding-bottom: 2.3rem;
        }

        &-choose {
            width: 48.3%;

            @media (max-width: $screen-sm-max) {
                width: 100%;
            }
        }

        &-name {
            display: block;
            margin-bottom: .8rem;
            font-size: 3.4rem;
            font-weight: 300;
            line-height: 5.2rem;
            color: color(shades, white);
            letter-spacing: -.07rem;

            @media (max-width: $screen-xs-max) {
                margin-bottom: .6rem;
                font-size: 2.5rem;
                letter-spacing: .03rem;
            }
        }

        &-select {
            position: relative;

            &::-ms-expand {
                display: none;
            }

            select {
                width: 100%;
                height: 5rem;
                padding-right: 1.6rem;
                padding-left: 1.6rem;
                font-size: 1.8rem;
                color: color(grey);
                letter-spacing: .04rem;
                text-overflow: '';
                background-color: color(shades, white);
                border: none;
                border-radius: .3rem;
                outline: none;

                appearance: none;

                &::-ms-expand {
                    display: none;
                }
            }

            i {
                position: absolute;
                top: 50%;
                right: 1.4rem;
                display: block;
                font-size: 2.3rem;
                color: color(blue);
                transform: translateY(-50%);
            }
        }
    }

    .form-main-roundtrip {
        padding-top: 5.7rem;
        padding-bottom: 6.2rem;
        border-bottom: 0;

        @media (max-width: $screen-sm-max) {
            padding-top: 4.5rem;
            padding-bottom: 1.2rem;
        }

        @media (max-width: $screen-xs-max) {
            padding-top: 3.1rem;
            padding-bottom: .7rem;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 3.4rem;
            font-weight: 300;
            line-height: 3.3rem;
            color: color(shades, white);
            letter-spacing: -.1rem;

            @media (max-width: $screen-xs-max) {
                margin-bottom: 2rem;
                font-size: 2.5rem;
                line-height: 3.1rem;
                letter-spacing: .02rem;
            }
        }
    }

    .form-main-roundtrip-choose {
        @media (max-width: $screen-sm-max) {
            margin-top: 3.4rem;
        }

        @media (max-width: $screen-xs-max) {
            margin-top: .3rem;
        }

        .form-main-radio {
            position: relative;
            margin-right: 2.7rem;
            padding-left: 4.5rem;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 3.5rem;
            color: color(shades, white);
            user-select: none;

            @media (max-width: $screen-xs-max) {
                line-height: 5.7rem;
            }

            input {
                display: none;

                &:checked {
                    & ~ span {
                        &:before {
                            background: color(blue);
                            border: .7rem solid color(shades, white);
                        }
                    }
                }
            }

            span {
                cursor: pointer;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: inline-block;
                    width: 3.5rem;
                    height: 3.5rem;
                    background: color(shades, white);
                    border-radius: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .form-main-questions {
        display: inline-block;
        text-align: left;

        &-wrap {
            text-align: center;
        }

        @media (max-width: $screen-sm-max) {
            width: 100%;
            padding-top: 4rem;
        }

        @media (max-width: $screen-xs-max) {
            padding-top: 1.7rem;
            padding-bottom: 1.6rem;
        }

        &-title {
            margin-bottom: .7rem;
            font-size: 2.2rem;
            color: color(grey, lighter-10);

            @media (max-width: $screen-xs-max) {
                margin-top: 1.6rem;
                margin-bottom: .9rem;
                font-size: 1.6rem;
                letter-spacing: .03rem;
            }
        }

        &-link {
            display: block;
            margin-bottom: 1.1rem;

            &:last-child {
                margin-bottom: 0;
            }

            i {
                font-size: 1.8rem;
                vertical-align: middle;
                color: color(blue);
            }

            span {
                display: inline-block;
                font-size: 1.6rem;
                vertical-align: middle;
                color: color(shades, white);
                text-decoration: none;
                text-indent: .7rem;
            }
        }
    }

    .form-options {
        padding-top: 4.1rem;
        padding-bottom: 5.2rem;
        background-color: color(grey, lighter-7);

        @media (max-width: $screen-sm-max) {
            padding-top: 3.9rem;
            padding-bottom: 8.4rem;
        }

        @media (max-width: $screen-xs-max) {
            padding-top: 4.2rem;
            padding-bottom: 6.9rem;
        }

        &-container {
            max-width: 97rem;
            margin-right: auto;
            margin-left: auto;
            padding-right: 1.5rem;
            padding-left: 1.5rem;

            @media (max-width: $screen-sm-max) {
                padding-right: 2.7rem;
                padding-left: 2.7rem;
            }

            @media (max-width: $screen-xs-max) {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            }
        }

        &-list {
            li {
                margin-bottom: .5rem;
                padding-top: 1.9rem;
                padding-bottom: 1.3rem;
                padding-left: 2.4rem;
                background-color: color(shades, white);
                border-radius: .3rem;

                @media (max-width: $screen-xs-max) {
                    min-height: 12rem;
                    padding-right: 2rem;
                    padding-left: 1.8rem;
                }
            }
        }
    }

    .form-options-checkbox {
        position: relative;
        margin: 0;
        padding-left: 3.4rem;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.2rem;
        color: color(grey, dark);
        user-select: none;

        input {
            display: none;

            &:checked {
                & ~ span {
                    &:before {
                        background: color(blue);
                    }
                    &:after {
                        content: '\e913';
                    }
                }
            }

            &:disabled {
                & ~ span {
                    color: color(grey, lighter-3);
                    cursor: default;
                }
            }
        }

        span {
            cursor: pointer;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                width: 2.2rem;
                height: 2.2rem;
                background: color(shades, white);
                border: .1rem solid color(grey, lighter-11);
                border-radius: .3rem;
                box-shadow: inset 0 .1rem .2rem rgba(color(shades, black), .2);
                transition: all .1s;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: .5rem;
                font-size: 1.1rem;
                color: color(shades, white);
                transition: all .1s;

                @include ic();
            }
        }
    }

    .options-title {
        margin-top: .8rem;
        margin-bottom: 1.2rem;
        font-size: 2.4rem;
        font-weight: 300;
        color: color(grey, dark);
        letter-spacing: -.06rem;

        @media (max-width: $screen-sm-max) {
            margin-top: .3rem;
            margin-bottom: 2rem;
        }

        @media (max-width: $screen-xs-max) {
            margin-bottom: 2.2rem;
            line-height: 2.9rem;
        }
    }

    .options-checkbox {
        position: absolute;
        top: 50%;
        z-index: -1;
        transform: translateY(-50%);

        & + label {
            position: relative;
            margin-bottom: 0;
            padding-left: 3.4rem;
            font-size: 1.8rem;
            font-weight: 300;
            line-height: 5.8rem;
            vertical-align: middle;
            color: color(grey, dark);
            cursor: pointer;

            @media (max-width: $screen-xs-max) {
                padding-top: 1.7rem;
                line-height: 2.3rem;
            }

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 2.2rem;
                height: 2.2rem;
                background-color: color(shades, white);
                border: .1rem solid color(grey, lighter-11);
                border-radius: .3rem;
                box-shadow: inset 0 .1rem .2rem rgba(color(shades, black),.2);
                transform: translateY(-50%);
                transition: .2s;

                @media (max-width: $screen-xs-max) {
                    top: 2.8rem;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 1.2rem;
                width: 0;
                height: 0;
                background-color: color(blue);
                border-radius: .4rem;
                transform: translateY(-50%);
                transition: .2s;

                @media (max-width: $screen-xs-max) {
                    top: 2.8rem;
                }
            }
        }

        &:checked + label:after {
            left: .4rem;
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    .options-info {
        position: relative;
        display: inline-block;
        width: 2.1rem;
        height: 2.1rem;
        margin-left: .7rem;
        font-size: 2rem;
        color: color(blue);

        @media (max-width: $screen-xs-max) {
            margin-bottom: .3rem;
            margin-left: .6rem;
            font-size: 2.2rem;
            vertical-align: bottom;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .options-link {
        font-size: 1.54rem;
        color: color(blue);
        text-decoration: none;

        @media (max-width: $screen-xs-max) {
            font-size: 2rem;
            line-height: 1rem;
            letter-spacing: -.05rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .options-promocode {
        margin-top: 4.4rem;
        padding-bottom: 3.4rem;

        @media (max-width: $screen-sm-max) {
            margin-top: 4.9rem;
        }

        @media (max-width: $screen-xs-max) {
            margin-top: 5.1rem;
            padding-bottom: 4.2rem;
        }

        span {
            display: block;
            font-size: 2.4rem;
            font-weight: 300;
            color: color(grey, dark);
            text-align: center;
            letter-spacing: -.06rem;

            @media (max-width: $screen-sm-max) {
                letter-spacing: 0;
            }

            @media (max-width: $screen-xs-max) {
                font-size: 1.8rem;
            }
        }

        input {
            display: block;
            width: 22.4rem;
            height: 5rem;
            margin-right: auto;
            margin-left: auto;
            padding-right: 2rem;
            padding-left: 2rem;
            border: .1rem solid color(grey, lighter-11);
            border-radius: .3rem;
            outline: 0;

            -webkit-appearance: none;

            &[type='text'] {
                margin-top: .5rem;
                font-size: 1.8rem;
            }

            &::-ms-clear {
                display: none;
            }

            &::-webkit-input-placeholder {
                color: color(grey);
            }
            &::-moz-placeholder {
                color: color(grey);
            }
            &:-ms-input-placeholder {
                color: color(grey);
            }
            &:-moz-placeholder {
                color: color(grey);
            }
        }
    }

    .why-book {
        padding-top: 2.3rem;
        text-align: center;
        border-top: .1rem solid color(grey, lighter-11);

        @media (max-width: $screen-sm-max) {
            margin-right: auto;
            margin-left: auto;
        }

        h2 {
            margin-bottom: 1.6rem;
            font-size: 2.8rem;
            font-weight: 300rem;
            color: color(grey, dark);
            text-align: center;
            letter-spacing: -.1rem;

            @media (max-width: $screen-xs-max) {
                margin-bottom: 2.3rem;
                line-height: 2.8rem;
            }
        }

        ul {
            display: inline-block;
            text-align: left;
            columns: 2;
            column-gap: 0;

            @media (max-width: $screen-sm-max) {
                column-gap: 1.6rem;
            }

            @media (max-width: $screen-xs-max) {
                columns: auto;
            }
        }

        li {
            position: relative;
            padding-left: 2rem;
            font-size: 1.6rem;
            line-height: 3rem;
            color: color(grey, dark);

            i {
                position: absolute;
                top: 1rem;
                left: .3rem;
                font-size: 1rem;
                color: color(blue);
            }
        }
    }

    .options-button {
        display: block;
        width: 35.8rem;
        max-width: 100%;
        height: 6.9rem;
        margin-top: 3.8rem;
        margin-right: auto;
        margin-left: auto;
        font-size: 3.2rem;
        color: color(shades, white);
        text-transform: uppercase;
        background-color: color(blue);
        border: 0;
        border-radius: .3rem;
        outline: 0;

        @media (max-width: $screen-sm-max) {
            margin-top: 3.7rem;
        }

        @media (max-width: $screen-xs-max) {
            margin-top: 3.1rem;
        }

        &:hover {
            background-color: color(blue, lighter-3);
        }
    }

    .options-price-link {
        text-decoration: none;

        &-wrap {
            margin-top: .5rem;
            text-align: center;
        }

        span {
            margin-top: 1.1rem;
            font-size: 1.4rem;
            color: color(grey);
            text-transform: uppercase;
        }

        i {
            display: inline-block;
            font-size: 1.1rem;
            color: color(blue);
            text-indent: .5rem;
        }
    }
}
