.payment {
	.wrapper-gray {
		background-color: color(grey, lighter-7);
	}

	.review-block {
		padding-top: 1.7rem;
		padding-bottom: 1.1rem;
		color: color(shades, white);
		text-align: center;
		text-transform: uppercase;
		background-color: color(blue);

		@media (max-width: $screen-xs-max) {
			padding-top: 1.5rem;
		}

		h1 {
			margin: 0;
			font-size: 4.2rem;
			line-height: 4rem;

			@media (max-width: $screen-xs-max) {
				font-size: 3.1rem;
				line-height: 2rem;
			}
		}

		span {
			font-size: 2rem;

			@media (max-width: $screen-xs-max) {
				font-size: 1.5rem;
			}
		}
	}

	.information-payment {
		position: relative;
		margin-bottom: 6rem;
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		background-color: color(shades, white);

		@media (max-width: $screen-md-max) {
			margin-right: -1.5rem;
			margin-left: -1.5rem;
		}

		@media (max-width: $screen-xs-max) {
			padding-right: 1.5rem;
			padding-left: 1.5rem;
		}

		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			border: 3.5rem solid transparent;
			border-top: 3.5rem solid color(shades, white);
			transform: translateX(-50%);
		}

		.wrapper-small {
			max-width: 94rem;
			margin: 0 auto;

			@media (max-width: $screen-md-max) {
				max-width: 71.5rem;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 58rem;
			}
		}

		.information-block {
			margin-top: 5.5rem;
			overflow: hidden;

			@media (max-width: $screen-md-max) {
				margin-top: 3.5rem;
				margin-bottom: 7.5rem;
			}

			@media (max-width: $screen-xs-max) {
				display: flex;
				flex-direction: column;
				margin-top: 3rem;
				margin-bottom: 5.5rem;
			}

			&:last-child {
				margin-bottom: 3rem;

				@media (max-width: $screen-xs-max) {
					margin-bottom: 3.2rem;
				}
			}

			.title {
				margin-bottom: 1rem;
				padding-bottom: .8rem;
				border-bottom: .1rem solid color(grey, lighter-4);

				@media (max-width: $screen-md-max) {
					margin-bottom: 1.5rem;
					padding-bottom: .5rem;
				}

				@media (max-width: $screen-xs-max) {
					margin-bottom: .5rem;
				}

				h2 {
					display: inline-block;
					margin: 0;
					font-size: 3.6rem;
					font-weight: 300;
					letter-spacing: -0.1rem;

					@media (max-width: $screen-xs-max) {
						font-size: 2.7rem;
						letter-spacing: -.1rem;
					}
				}

				.modify {
					display: inline-block;
					float: right;
					margin-top: 1rem;
					padding: .1rem 1.3rem;
					font-size: 1.4rem;
					color: color(blue);
					text-transform: uppercase;
					border: .1rem solid color(blue);
					border-radius: .3rem;

					@media (max-width: $screen-xs-max) {
						font-size: 1rem;
					}

					&:hover {
						text-decoration: none;
					}
				}
			}

			.information-content {
				display: flex;
				margin-right: -1.5rem;
				margin-left: -1.5rem;

				@media (max-width: $screen-xs-max) {
					flex-direction: column;
				}

				.description-block {
					width: 60%;
					padding-right: 1.5rem;
					padding-left: 1.5rem;

					@media (max-width: $screen-md-max) {
						width: 64%;
					}

					@media (max-width: $screen-xs-max) {
						order: 2;
						width: 100%;
					}

					.block {
						display: flex;
						margin-top: 1.3rem;
						padding-bottom: 1.5rem;
						border-bottom: .1rem solid color(grey, lighter-4);

						@media (max-width: $screen-md-max) {
							margin-top: 1.5rem;
							padding-bottom: .7rem;
						}

						@media (max-width: $screen-xs-max) {
							margin-top: 1rem;
							padding-bottom: 1rem;
						}

						&:last-child {
							border-bottom: 0;
						}

						.left {
							width: 35%;

							@media (max-width: $screen-sm-max) {
								width: 42%;
							}

							@media (max-width: $screen-xs-max) {
								width: 45%;
							}

							span {
								display: block;
								font-weight: 700;

								@media (max-width: $screen-sm-max) {
									margin-bottom: 1rem;
									line-height: 1.8rem;
								}

								@media (max-width: $screen-xs-max) {
									margin-bottom: 0;
									font-size: 1.2rem;
								}
							}
						}

						.right {
							width: 64%;

							@media (max-width: $screen-md-max) {
								width: 57%;
							}

							@media (max-width: $screen-xs-max) {
								width: 56%;
							}

							span {
								display: block;

								@media (max-width: $screen-xs-max) {
									font-size: 1.2rem;
								}
							}

							.mr-bottom-big {
								margin-bottom: 3.2rem;
								font-size: 1.4rem;
								color: color(grey, dark);

								@media (max-width: $screen-xs-max) {
									margin-bottom: 2.9rem;
									font-size: 1.05rem;
								}
							}

							.airline-description {
								margin-bottom: 3.4rem;

								@media (max-width: $screen-md-max) {
									margin-bottom: 3.5rem;
								}

								@media (max-width: $screen-xs-max) {
									margin-top: .8rem;
									margin-bottom: 3.2rem;
								}

								&:last-child {
									margin-bottom: 1.5rem;
								}

								p {
									margin: 0;
									font-size: 1.5rem;

									@media (max-width: $screen-md-max) {
										line-height: 1.8rem;
									}

									@media (max-width: $screen-xs-max) {
										font-size: 1.1rem;
									}
								}
						
								.time {
									@media (max-width: $screen-md-max) {
										margin-top: 1rem;
										margin-bottom: 1rem;
									}

									@media (max-width: $screen-xs-max) {
										margin-top: .5rem;
										margin-bottom: .5rem;
									}

									span {
										display: inline-block;
										font-size: 2.2rem;
										color: color(grey, dark);
										text-transform: uppercase;

										@media (max-width: $screen-xs-max) {
											font-size: 1.6rem;
										}
									}

									.all-time {
										font-size: 1.5rem;
										color: color(grey, lighter-10);
										text-transform: none;

										@media (max-width: $screen-xs-max) {
											font-size: 1.2rem;
										}
									}

									i {
										padding-right: .4rem;
										padding-left: .4rem;
										color: color(grey, lighter-10);

										@media (max-width: $screen-md-max) {
											display: block;
											width: 1.5rem;
											height: 2rem;
											margin-bottom: 1rem;
											transform: rotate(90deg);
										}

										@media (max-width: $screen-xs-max) {
											display: inline-block;
											width: 2rem;
											height: 1rem;
											margin-bottom: 0;
											transform: rotate(0deg);
										}
									}
								}

								.small-text {
									font-size: 1.2rem;
									line-height: 1.6rem;

									@media (max-width: $screen-xs-max) {
										font-size: .9rem;
										line-height: 1.2rem;
									}
								}
							}
						}
					}

					.block.airline {
						@media (max-width: $screen-xs-max) {
							flex-direction: column;
						}

						.left {
							@media (max-width: $screen-xs-max) {
								width: 100%;
							}
						}

						.right {
							@media (max-width: $screen-xs-max) {
								width: 100%;
							}
						}
					}
				}

				.gray-bg {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 37%;
					max-height: 17.2rem;
					margin-top: 1rem;
					margin-right: 1.5rem;
					margin-left: 1.5rem;
					padding: 0 3.5rem;
					text-align: center;
					background-color: color(grey, lighter-15);

					@media (max-width: $screen-sm-max) {
						width: 34%;
						margin-top: 2rem;
						padding: 0 1rem;
					}

					@media (max-width: $screen-xs-max) {
						order: 2;
						width: 100%;
						min-height: 12.5rem;
						margin: 0;
						padding: 1rem 1.5rem 1.5rem 1.5rem;
					}

					.text {
						max-width: 100%;

						@media (max-width: $screen-xs-max) {
							padding-right: 1.5rem;
							padding-left: 1.5rem;
						}
					}

					p {
						font-size: 1.4rem;
						line-height: 2rem;

						@media (max-width: $screen-xs-max) {
							font-size: 1.05rem;
							line-height: 1.5rem;
						}
					}

					span {
						display: block;
						font-size: 1.4rem;
						line-height: 2rem;
						color: color(grey, dark);

						@media (max-width: $screen-xs-max) {
							font-size: 1.05rem;
							line-height: 1.5rem;
						}
					}

					.title {
						margin-top: 1.5rem;
						margin-bottom: 0;
						padding-bottom: 0;
						font-size: 1.8rem;
						font-weight: 600;
						line-height: 1.8rem;
						text-transform: uppercase;
						border-bottom: 0;

						@media (max-width: $screen-md-max) {
							margin-top: 0;
						}

						@media (max-width: $screen-xs-max) {
							margin-top: .7rem;
							margin-bottom: .6rem;
							font-size: 1.35rem;
						}
					}
				}

				.slider-hotel {
					width: 40%;
					margin-top: 1.3rem;
					padding-right: 1.5rem;
					padding-left: 1.5rem;

					@media (max-width: $screen-md-max) {
						width: 38%;
					}

					@media (max-width: $screen-xs-max) {
						order: 1;
						width: 100%;
						margin-top: 1rem;
					}

					img {
						width: 100%;
					}
				}
			}
		}

		.total-price {

			.title {
				display: flex;
				justify-content: space-between;
				align-items: center;

				@media (max-width: $screen-xs-max) {
					flex-direction: column;
					align-items: flex-start;
				}

				.price-dollars {
					@media (max-width: $screen-xs-max) {
						font-size: 1.2rem;
					}
				}
			}

			.description-block {
				width: 100%;

				.block {
					margin-bottom: 1.5rem;
					padding-bottom: 1.1rem;
					border-bottom: .1rem solid color(grey, lighter-4);

					@media (max-width: $screen-md-max) {
						margin-bottom: 1.1rem;
						padding-bottom: 1.1rem;
					}

					&:last-child {
						border-bottom: 0;
					}
				}

				.list {
					.items {
						display: flex;
						justify-content: space-between;

						@media (max-width: $screen-md-max) {
							margin-bottom: 1rem;
						}

						@media (max-width: $screen-xs-max) {
							margin-bottom: 0;
						}

						.bold {
							font-weight: 700;

							@media (max-width: $screen-xs-max) {
								text-align: left;
							}
						}

						span {
							text-align: right;

							@media (max-width: $screen-md-max) {
								line-height: 1.6rem;
							}

							@media (max-width: $screen-xs-max) {
								font-size: 1.3rem;
								line-height: 1.9rem;
								text-align: right;
							}
						}

						span.total-price {
							@media (max-width: $screen-md-max) {
								font-size: 4.6rem;
							}
						}

						a {
							color: color(blue);
							text-decoration: underline;

							@media (max-width: $screen-xs-max) {
								display: block;
								font-size: 1.125rem;
								line-height: 1.4rem;
								text-align: right;
							}

							&:hover{
								text-decoration: none;
							}
						}
					}
				}

				.total-price-block {
					display: flex;

					.block {
						display: flex;
				 		justify-content: space-between;

				 		@media (max-width: $screen-xs-max) {
							flex-direction: column;
						}

						.left {
							width: 50%;

							@media (max-width: $screen-md-max) {
								width: 85%;
							}

							@media (max-width: $screen-xs-max) {
								width: 100%;
								text-align: center;
							}
						}
						
						.right {
							width: 50%;
							text-align: right;

							@media (max-width: $screen-xs-max) {
								width: 100%;
								text-align: center;
							}

							span.total-price {
								@media (max-width: $screen-xs-max) {
									font-size: 3.6rem;
								}
							}

							.small-text {

								display: block;
								color: color(grey, lighter-10);
								text-transform: uppercase;

								@media (max-width: $screen-xs-max) {
									font-size: 1.4rem;
								}
							}
						}

						span.total-price {
							font-size: 4.8rem;
							line-height: 1;
							color: color(blue);

							@media (max-width: $screen-md-max) {
								font-size: 4.6rem;
							}

							@media (max-width: $screen-xs-max) {
								margin-bottom: 1.2rem;
								letter-spacing: -0.2rem;
							}
						}

						p.small-text {
							margin-top: .5rem;
							font-size: 1.4rem;
							line-height: 1.9rem;
							color: color(grey);
						}
					}
				}
			}
		}

		.consider-getting {
			position: relative;
			margin-top: 6.5rem;
			padding-bottom: 1.2rem;
			overflow: hidden;
			background-color: color(grey, lighter-15);

			@media (max-width: $screen-md-max) {
				padding-bottom: 0;
			}

			@media (max-width: $screen-xs-max) {
				margin-top: 2.5rem;
				margin-bottom: 5.5rem;
			}
			
			.title {
				padding: .5rem 2.9rem;
				font-size: 2.4rem;
				color: color(shades, white);
				background-color: color(blue);
				border-bottom: .5rem solid color(shades, white);

				@media (max-width: $screen-xs-max) {
					font-size: 1.8rem;
				}
			}

			h2 {
				margin-bottom: 1.6rem;
				font-size: 2.4rem;
				color: color(grey, dark);
				text-transform: uppercase;

				@media (max-width: $screen-xs-max) {
					margin-bottom: 1rem;
				}
			}

			p {
				font-size: 1.3rem;
				line-height: 2rem;
				color: color(grey);

				a {
					font-size: 1.3rem;
					color: color(blue);
				}
			}

			.travel-plan {
				display: inline-block;
				width: 50%;
				padding: 3rem 1rem 3rem 5rem;

				@media (max-width: $screen-md-max) {
					width: 55%;
					padding: 3rem 1rem 3rem 3.5rem;
				}

				@media (max-width: $screen-xs-max) {
					width: 100%;
					padding: 2rem;
				}

				.radio_block {
					margin-top: 3rem;

					@media (max-width: $screen-xs-max) {
						margin-top: 4rem;
					}

					.block {
						margin-bottom: 3.5rem;
					}

					.radio {
						span {
							display: block;
							font-size: 1.4rem;
							line-height: 1.9rem;
						}
					}
				}
			}

			.block-description {
				position: absolute;
				top: 5.5rem;
				right: 0;
				width: 47%;
				margin-top: 3.9rem;
				margin-left: 2.5rem;
				padding: 0 1rem 3rem 8.6rem;
				border-left: .1rem solid color(grey, darker-7);

				@media (max-width: $screen-md-max) {
					width: 42%;
					margin-left: 0;
					padding-left: 4.6rem;
				}

				@media (max-width: $screen-xs-max) {
					position: relative;
					top: 0;
					width: 100%;
					margin-top: 2.8rem;
					padding: 2.7rem 0 0;
					border-top: .1rem solid color(grey, darker-7);
					border-left: none;
				}

				&:before, &:after {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					width: 0;
					height: 0;
					border-top: 2.1rem solid transparent;
					border-bottom: 2.1rem solid transparent;
					border-left: 1.7rem solid color(grey, darker-4);
					transform: translateY(-50%);

					@media (max-width: $screen-xs-max) {
						top: -1.5rem;
						left: 50%;
						width: 3rem;
						height: 3rem;
						background-color: color(grey, darker-4);
						border: none;
						transform: rotate(45deg) translate(-25%, 25%);
					}
				}

				&:after {
					left: -.1rem;
					border-left-color: color(grey, lighter-15);

					@media (max-width: $screen-xs-max) {
						top: -1.6rem;
						left: 50%;
						background-color: color(grey, lighter-15);
					}
				}

				h4 {
					margin-top: 1.1rem;
					margin-bottom: .6rem;
					font-size: 1.3rem;
					font-weight: 600;
					color: color(blue);
					text-transform: uppercase;
				}

				.list {
					max-width: 21.5rem;

					.item {
						position: relative;
						padding-left: 1rem;
						font-size: 1.3rem;
						line-height: 2.1rem;
						color: color(grey);

						&:before {
							content: "";
							position: absolute;
							top: 1rem;
							left: 0;
							width: .4rem;
							height: .4rem;
							background: color(blue);
							border-radius: 50%;
						}
					}
				}
			}
		}
	}

	.select-payment-option {
		position: relative;
		margin-top: 8.8rem;
		margin-bottom: 4rem;
		background-color: color(blue, lighter-6);
		border: .1rem solid color(grey, lighter-16);
		border-radius: .3rem;

		@media (max-width: $screen-md-max) {
			margin-top: 7rem;
			margin-right: -1.5rem;
			margin-left: -1.5rem;
		}

		@media (max-width: $screen-xs-max) {
			margin-top: 6.8rem;
			margin-bottom: 8rem;
		}

		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			border: 2.5rem solid transparent;
			border-top: 2.5rem solid color(blue, lighter-7);
			transform: translateX(-50%);
		}

		&:before {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-top: .1rem;
			border: 2.5rem solid transparent;
			border-top: 2.5rem solid color(grey, lighter-16);
			transform: translateX(-50%);
		}

		.wrapper-small {
			max-width: 94rem;
			margin: 0 auto;

			@media (max-width: $screen-md-max) {
				max-width: 71rem;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 58rem;
				padding-right: 1.5rem;
				padding-left: 1.5rem;
				overflow: hidden;
			}
		}

		.space {
			margin-top: 3rem;
			margin-bottom: 3.5rem;
			overflow: hidden;
		}

		.title {
			font-size: 2rem;
		}

		.layaway-plan{
			margin-right: 0;
			margin-bottom: 1.5rem;
			margin-left: 0;
			padding-bottom: 1.7rem;
			border-bottom: .1rem solid color(grey, lighter-4);

			div{
				padding: 0;
			}
		}

		p {
			font-size: 1.6rem;
			line-height: 2rem;
		}

		.mr-top {
			margin-top: 3rem;

			@media (max-width: $screen-xs-max) {
				margin-top: 4.5rem;
			}
		}

		.bg-blue-dark {
			overflow: hidden;
			background-color: color(blue, lighter-7);

			.select-payment {
				margin-bottom: 0;
				padding-bottom: 3rem;
				border-bottom: .1rem solid color(grey, lighter-4);

				@media (max-width: $screen-xs-max) {
					padding-bottom: 4rem
				}
			}

			h2 {
				margin-top: 2rem;
				margin-bottom: 0.2rem;
				font-size: 3.6rem;
				font-weight: 300;

				@media (max-width: $screen-xs-max) {
					margin-top: 1.6rem;
					margin-bottom: 1.6rem;
				}
			}

			p {
				line-height: 2.6rem;
				color: color(grey, darker-3);
			}

			.date {
				font-weight: 600;
				color: color(grey, dark);
			}

			.chose-option {
				max-width: 46rem;
				margin: 4.4rem auto 0;

				@media (max-width: $screen-xs-max) {
					max-width: 100%;
					margin: 3rem 0 0;
				}

				.row_block {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					margin-bottom: 2.4rem;

					@media (max-width: $screen-xs-max) {
						flex-direction: column;
						align-items: start;
						margin-bottom: 4rem;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				.radio_block {
					@media (max-width: $screen-xs-max) {
						display: block;
					}

					.radio + label {
						padding: .2rem 3rem 0 3.9rem;

						@media (max-width: $screen-xs-max) {
							margin-bottom: 0;
						}
					}
				}

				.description {
					@media (max-width: $screen-xs-max) {
						padding-left: 4rem;
					}

					.price {
						font-size: 1.8rem;
						font-weight: 700;
						color: color(red);
					}

					input[type='text'] {
						min-width: 25rem;

						-webkit-appearance: none;

						@media (max-width: $screen-xs-max) {
							height: 5rem;
							margin-top: 1rem;
						}
					}
				}
			}
		}

		input[type='text'] {
			height: 4.5rem;
			padding-right: 1.5rem;
			padding-left: 1.5rem;
			font-size: 1.4rem;
			line-height: 4.5rem;
			border: .1rem solid color(grey, lighter-2);
			border-radius: .3rem;
			outline: none;

			-webkit-appearance: none;

			&::-ms-clear {
				display: none;
				width : 0;
				height: 0;
			}

			&::-ms-reveal {
				display: none;
				width : 0;
				height: 0;
			}
		}
		
		.pay-booking {
			margin-right: 0;
			margin-left: 0;
			padding-bottom: 1.5rem;
			border-bottom: .1rem solid color(grey, lighter-4);

			.select-block {
				@media (max-width: $screen-md-max) {
					text-align: left;
				}

				@media (max-width: $screen-md-max) {
					text-align: center;
				}
			}
		}

		.select-block {
			@media (max-width: $screen-md-max) {
				max-width: 55.5rem;
				/*padding-left: 8rem;*/
				text-align: center;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 100%;
				padding-left: 0;
				text-align: center;
			}

			.title {
				display: inline-block;
				padding-right: 2.3rem;
				font-size: 1.8rem;
				font-weight: 600;

				@media (max-width: $screen-xs-max) {
					display: block;
					margin-bottom: 1rem;
					padding-right: 0;
				}
			}

			.resorts-select {
				position: relative;
				display: inline-block;
			}

			.resorts-select.long {
				min-width: 26.5rem;
				max-width: 27rem;
			}
		}

		.automatic-details {
			max-width: 38rem;
			margin: 4rem auto;

			@media (max-width: $screen-md-max) {
				max-width: 46rem;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 100%;
				margin-top: 5rem;
				margin-bottom: -2rem;
				text-align: center;
			}

			h3 {
				margin-bottom: 1.8rem;
				font-size: 1.8rem;
				font-weight: 600;

				@media (max-width: $screen-xs-max) {
					margin-bottom: 2.2rem;
				}
			}

			.block {
				margin-bottom: 3rem;
				padding-bottom: 1rem;
				border-bottom: .1rem solid color(grey, lighter-4);

				@media (max-width: $screen-xs-max) {
					margin-bottom: 1.5rem;
					padding-bottom: 2.5rem;
				}

				&:last-child{
					border-bottom: 0;
				}

				.blue {
					display: block;
					font-size: 1.8rem;
					font-weight: 700;
					line-height: 1.4;
					color: color(blue);
					text-transform: uppercase;
				}

				span {
					font-weight: 600;
					color: color(grey, darker-8);

					@media (max-width: $screen-xs-max) {
						display: block;
					}

					.price {
						font-weight: 600;
						color: color(red);
						letter-spacing: .1rem;

						@media (max-width: $screen-xs-max) {
							line-height: 1.2rem;
						}
					}

					.think {
						font-weight: 400;

						@media (max-width: $screen-xs-max) {
							display: inline-block;
						}
					}
				}
			}
		}

		.accept-block {
			margin-bottom: 3rem;
			padding-top: 2rem;
			border-top: .1rem solid color(grey, lighter-4);

			@media (max-width: $screen-md-max) {
				margin-top: 2.5rem;
				margin-bottom: 2rem;
			}

			@media (max-width: $screen-xs-max) {
				margin-bottom: 3.5rem;
			}

			.rf-checkbox {
				span {
					display: block;
					padding-left: 3.5rem;
					font-size: 1.4rem;
					font-weight: 400;
					line-height: 2rem;
					color: color(grey, darker-3);
					text-indent: -3.5rem;

					@media (max-width: $screen-xs-max) {
						padding-left: 3rem;
					}

					&:before {
						margin-right: 1.6rem;
						text-indent: .2em;
						border: .1rem solid color(grey , lighter-11);

					}
				}
			}
		}

		.pay-booking-using {
			position: relative;
			max-width: 22rem;
			margin: 0 auto;

			@media (max-width: $screen-md-max) {
				max-width: 37rem;
			}

			@media (max-width: $screen-xs-max) {
				margin-top: 0;
			}

			.select-block {
				position: relative;
				max-width: 30.5rem;

				@media (max-width: $screen-md-max) {
					margin: 0 auto;
				}

				.title {
					padding-right: 0;
				}
			}

			.title {
				display: block;
				margin-bottom: .5rem;
				text-align: center;
			}

			.resorts-select.short {
				min-width: 22rem;
				max-width: 22rem;
			}
		}
	}

	.payment-card {
		@media (max-width: $screen-xs-max) {
			margin-right: -1.5rem;
			margin-bottom: 3rem;
			margin-left: -1.5rem;
			background: color(shades, white);
		}

		&-content {
			max-width: 80.5rem;
			margin: 0 auto;
			margin-top: 5rem;
			padding-top: 2rem;
			padding-right: 3rem;
			padding-bottom: 3rem;
			padding-left: 3rem;
			background-color: color(shades, white);
			border-radius: .3rem;

			@media (max-width: $screen-md-max) {
				max-width: 65rem;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 100%;
				margin-top: 0;
				padding: 1.5rem;
			}

			h2 {
				margin-top: 1.2rem;
				padding-bottom: 1.2rem;
				font-size: 4rem;
				font-weight: 300;
				text-align: center;

				@media (max-width: $screen-xs-max) {
					margin-top: .5rem;
					font-size: 3rem;
				}

				i {
					padding-left: 2.5rem;
					font-size: 3.2rem;
					color: color(blue);

					@media (max-width: $screen-xs-max) {
						font-size: 2.4rem;
					}
				}
			}

			.block {
				padding-top: 3.2rem;
				padding-bottom: 3.8rem;
				overflow: hidden;
				border-top: .1rem solid color(grey, darker-9);

				@media (max-width: $screen-xs-max) {
					padding-top: 2.2rem;
				}

				&-row {
					display: flex;
					align-items: center;
					width: 100%;
					max-width: 55rem;
					margin: 0 auto;
					margin-bottom: 2.5rem;

					@media (max-width: $screen-md-max) {
						max-width: 52rem;
					}

					@media (max-width: $screen-xs-max) {
						display: block;
						max-width: 100%;
						margin-bottom: 3rem;
					}

					&:last-child {
						margin-bottom: 0;
					}

					.block-name {
						width: 19rem;

						@media (max-width: $screen-md-max) {
							width: auto;
							min-width: 18rem;
						}

						@media (max-width: $screen-xs-max) {
							display: block;
						}

						.required {
							position: relative;
							display: inline-block;
							font-size: 1.8rem;
							font-weight: 600;

							&:after {
								content: "*";
								margin-left: 1rem;
								color: color(blue);
							}
						}
						.tooltip-info {
							padding-left: .8rem;
							font-size: 2rem;
							color: color(blue);
						}
					}

					.block-input {
						width: 36rem;

						@media (max-width: $screen-md-max) {
							min-width: 34rem;
						}

						@media (max-width: $screen-xs-max) {
							display: block;
							min-width: 100%;
							max-width: 100%;
							margin-top: .7rem;
						}

						input[type='text'] {
							width: 100%;

							@media (max-width: $screen-xs-max) {
								height: 5rem;
								line-height: 5rem;
							}
						}

						.rf-checkbox {
							span {
								&:before {
									width: 2.2rem;
									height: 2.2rem;
									margin-right: 1.2rem;
								}
							}
						}
					}

					.calendar-all {
						display: flex;
					}

					.calendar {
						position: relative;
						margin-right: 1rem;

						@media (max-width: $screen-md-max) {
							margin-right: 3rem;
						}

						@media (max-width: $screen-xs-max) {
							margin-right: 1rem;
						}

						&:last-child {
							margin-right: 0;
						}

						input[type='text'] {
							padding-left: 2.5rem;
						}

						label {
							position: absolute;
							top: 1rem;
							left: 2.5rem;

							@media (max-width: $screen-xs-max) {
								left: 1.5rem;
							}
						}

						i {
							position: absolute;
							top: 1.2rem;
							right: 1.5rem;
							font-size: 2.3rem;
							color: color(blue);
						}
					}

					.small {
						float: left;
						min-width: 16.5rem;
						max-width: 16.5rem;

						@media (max-width: $screen-md-max) {
							min-width: 15.5rem;
							max-width: 15.5rem;
						}

						@media (max-width: $screen-xs-max) {
							min-width: 14rem;
							max-width: 14rem;
							float: none;
						}
					}

					.select-block {
						select {
							height: 4.5rem;
							font-weight: 600;
							color: color(grey , dark);
							border: .1rem solid color(grey, lighter-2);
						}
					}
				}

				.checkbox-use-guests {
					justify-content: flex-end;

					.block-input {
						@media (max-width: $screen-md-max) {
							padding-left: 2rem;
						}

						@media (max-width: $screen-xs-max) {
							padding-left: 1rem;
						}
					}
				}
			}
		}

		input[type='text'] {
			display: block;
			height: 4.5rem;
			margin-right: auto;
			margin-left: auto;
			padding-right: 1.5rem;
			padding-left: 1.5rem;
			font-size: 1.4rem;
			line-height: 4.5rem;
			border: .1rem solid color(grey, lighter-2);
			border-radius: .3rem;
			outline: 0;

			-webkit-appearance: none;

			&::placeholder {
				font-size: 1.4rem;
				font-weight: 600;
				color: color(grey);
			}

			&::-ms-clear {
				display: none;
				width : 0;
				height: 0;
			}

			&::-ms-reveal {
				display: none;
				width : 0;
				height: 0;
			}
		}
	}

	.agree-block {
		max-width: 80.5rem;
		margin: 0 auto;
		margin-top: 2rem;
		margin-bottom: 11rem;
		overflow: hidden;

		@media (max-width: $screen-md-max) {
			max-width: 65rem;
			margin-bottom: 16rem;
		}

		@media (max-width: $screen-xs-max) {
			margin-bottom: 11rem;
		}

		.agree-checkbox {
			margin-bottom: 1.5rem;
			text-align: right;

			@media (max-width: $screen-md-max) {
				margin-top: .3rem;
				margin-bottom: 1.2rem;
				text-align: right;
			}

			@media (max-width: $screen-xs-max) {
				margin-top: 1.3rem;
				margin-bottom: 2.2rem;
				text-align: left;
			}

			span {
				font-size: 1.8rem;
				font-weight: 600;

				@media (max-width: $screen-md-max) {
					line-height: 1;
				}

				&:before {
					margin-right: 1.2rem;
				}
			}

			a {
				color: color(blue);
				text-decoration: underline;

				@media (max-width: $screen-xs-max) {
					display: block;
					padding-left: 3rem;
					line-height: 1;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}

		.warning {
			display: inline-block;
			max-width: 35rem;
			margin-left: 6.5rem;
			font-size: 1.4rem;
			font-weight: 600;
			line-height: 1.8rem;
			vertical-align: top;
			text-align: right;

			@media (max-width: $screen-md-max) {
				max-width: 25rem;
				margin-left: 0;
			}

			@media (max-width: $screen-xs-max) {
				max-width: 100%;
				margin-bottom: 2rem;
				text-align: left;
			}

			span {
				font-weight: 700;
				color: color(red);
			}

			p {
				color: color(grey);
			}
		}

		.blue.btn {
			float: right;
			padding: 1.8rem 6.1rem;
			font-size: 3.6rem;
			font-weight: 700;
			vertical-align: top;
			color: color(shades, white);
			text-transform: uppercase;
			background-color: color(blue);

			@media (max-width: $screen-xs-max) {
				display: block;
				float: none;
				margin: 0 auto;
				padding: 1.8rem 2rem;
			}
		}
	}

	.radio_block {
		.radio {
			position: relative;
			margin: 0;
			padding-left: 4rem;
			font-size: 1.6rem;
			font-weight: 600;
			line-height: 2.7rem;
			color: color(grey, dark);
			user-select: none;

			input {
				display: none;

				&:checked~span:before{
					background-color: color(blue);
					border: .5rem solid color(shades, white);

				}
			}

			span {
				cursor: pointer;

				&:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					width: 2.7rem;
					height: 2.7rem;
					background-color: color(shades, white);
					border: .1rem solid color(grey, lighter-2);
					border-radius: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}

	.rf-checkbox {
		margin: 0;
		user-select: none;

		input {
			display: none;

			&:checked {
				&~span {
					&:before {
						content: "\e913";
						background: color(blue);
						border-color: color(grey, lighter-3);
					}
				}
			}

			&:disabled {
				&~span {
					color: color(grey, lighter-3);
					cursor: default;

					&:before {
						background: transparent;
						border-color: color(grey, lighter-3);
					}
				}
			}
		}

		span {
			font-weight: 400;
			cursor: pointer;

			&:before {
				content: '';
				display: inline-block;
				width: 2.2rem;
				height: 2.2rem;
				margin-right: 0.6rem;
				font-size: 1rem;
				line-height: 1.8rem;
				vertical-align: top;
				color: color(shades, white);
				text-align: center;
				background: color(shades, white);
				border: 0.1rem solid color(grey, lighter-3);
				border-radius: 0.3rem;
				transition: all 0.1s;

				@include ic();
			}
		}
	}

	.select-block {
		position: relative;

		select {
			width: 100%;
			height: 5rem;
			padding-left: 2rem;
			font-size: 1.8rem;
			color: color(grey);
			letter-spacing: 0.04rem;
			background-color: color(shades, white);
			border: .1rem solid color(grey, lighter-8);
			border-radius: 0.3rem;
		}

		i {
			position: absolute;
			top: 50%;
			right: 1.4rem;
			font-size: 2.3rem;
			color: color(blue);
			transform: translateY(-50%);
		}
	}
}
