.footer {
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
    background-color: color(grey, darker-1);

    @media (max-width: $screen-xs-max) {
        padding-top: 2.3rem;
        padding-bottom: 2.3rem;
    }

    .container {
        position: relative;
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @media (max-width: $screen-xs-max) {
            flex-direction: column;
        }

        i {
            margin-right: 1rem;
            font-size: 3.2rem;
            color: color(grey, darker-4);

            @media (max-width: $screen-xs-max) {
                margin-right: 0;
                font-size: 2.5rem;
            }
        }
    }

    &-sandals {
        font-size: 3.6rem;
        font-weight: 300;
        color: color(shades, white);
        text-transform: uppercase;
        letter-spacing: -.1rem;

        @media (max-width: $screen-xs-max) {
            margin-top: 1rem;
            font-size: 2.8rem;
            line-height: 3.5rem;
        }
    }

    &-call {
        margin-left: 1.3rem;
        font-size: 1.7rem;
        font-weight: 300;
        color: color(grey);

        @media (max-width: $screen-xs-max) {
            margin-top: -.6rem;
            margin-left: 0;
            font-size: 1.4rem;
        }

        span {
            display: block;
            font-size: 1.2rem;
            line-height: 1.3rem;
            text-transform: uppercase;

            @media (max-width: $screen-xs-max) {
                font-size: 1rem;
            }
        }
    }

    .button-top {
        position: absolute;
        top: -6.1rem;
        right: 11.1rem;
        padding: 0;
        font-size: 4.6rem;
        color: color(blue);
        background-color: color(shades, white);
        border: 0;
        border-radius: 50%;
        outline: 0;


        @media (max-width: $screen-sm-max) {
            right: 1.4rem;
        }

        @media (max-width: $screen-xs-max) {
            top: -4.8rem;
            height: 3.41rem;
            font-size: 3.5rem;
        }
    }
}
