.header {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: color(grey, darker-1);

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 108.9rem;
        height: 8.8rem;
        margin-right: auto;
        margin-left: auto;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        @media (max-width: $screen-sm-max) {
            padding-right: 4.5rem;
            padding-left: 4.5rem;
        }

        @media (max-width: $screen-xs-max) {
            height: 5rem;
            padding-right: 1.5rem;
            padding-left: 1.7rem;
        }
    }

    &-logo {
        i {
            font-size: 5.3rem;
            color: color(shades, white);

            @media (max-width: $screen-xs-max) {
                font-size: 2.2rem;
                line-height: .5rem;
            }
        }

        span {
            display: block;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1rem;
            color: color(shades, white);
            text-transform: uppercase;
            letter-spacing: -.02rem;

            @media (max-width: $screen-xs-max) {
                font-size: .5rem;
                line-height: .5rem;
                color: color(blue);
            }
        }
    }

    &-resorts {
        display: none;
        margin-right: 4.1rem;

        @media (max-width: $screen-xs-max) {
            display: inline-block;
        }

        span {
            font-size: 1.2rem;
            color: color(shades, white);
            text-transform: uppercase;
            letter-spacing: .5rem;
        }

        i {
            display: inline-block;
            vertical-align: middle;
            color: color(blue);
            transform: rotate(90deg);
        }
    }

    &-menu {
        background-color: color(shades, transparent);
        border: 0;
        outline: 0;

        i {
            font-size: 2.6rem;
            color: color(shades, white);

            @media (max-width: $screen-xs-max) {
                font-size: 1.5rem;
            }
        }
    }
}
