.popup-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	background-color: rgba(color(shades, black),.6);

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.popup-content {
	display: inline-block;
	width: 100%;
	max-width: 68.8rem;
	vertical-align: middle;
	text-align: left;
	background-color: color(shades, white);
	border-radius: .4rem;

	@media (max-width: $screen-md-max) {
		max-width: 64.8rem;
	}

	@media (max-width: $screen-xs-max) {
		width: 90%;
		max-width: 64.8rem;
	}

	&-details {
		position: relative;
		padding-top: 2rem;
		padding-right: 5rem;
		padding-bottom: 4rem;
		padding-left: 5rem;

		@media (max-width: $screen-md-max) {
			padding-right: 3rem;
			padding-left: 3rem;
		}

		@media (max-width: $screen-xs-max) {
			padding-right: 1rem;
			padding-left: 1rem;
		}

		.close-popup {
			position: absolute;
			top: 1.5rem;
			right: 1.5rem;
			padding: 0;
			color: color(shades, black);
			background: none;
			border: none;
			outline: none;

			&:hover {
				text-decoration: none;
			}

			&:focus {
				outline:none;
			}
		}

		.popup-title {
			margin-top: 4.9rem;
			margin-bottom: 0;
			padding-bottom: 1.3rem;
			font-size: 3.6rem;
			font-weight: 300;
			color: color(blue);
			text-align: center;
			text-transform: uppercase;
			border-bottom: .1rem solid color(gray, lighter-4);

			@media (max-width: $screen-xs-max) {
				margin-top: 3.5rem;
				font-size: 2.7rem;
			}
		}

		h3.popup-title {
			margin-top: 5rem;
			margin-bottom: 2.5rem;
			padding-bottom: 1.8rem;
			font-size: 2.4rem;
			font-weight: 300;
			color: color(blue);
			text-align: left;
			text-transform: uppercase;
			border-bottom: .1rem solid color(gray, lighter-4);

			@media (max-width: $screen-xs-max) {
				margin-top: 3.5rem;
				font-size: 2.7rem;
			}
		}

		.text-block {
			p {
				margin-bottom: 2.2rem;
				font-size: 1.4rem;
				line-height: 2.2rem;
				color: color(gray, dark);

				a {
					color: color(blue);
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

.inclusions-popup {
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;

	.btn-blue {
		display: block;
		width: auto;
		min-width: 10.5rem;
		max-width: 34.5rem;
		margin: 0 auto;
		margin-top: 1.1rem;
		margin-bottom: 1rem;
		padding: 1.4rem;
		font-size: 2rem;
		font-weight: 700;
		line-height: 2rem;
		color: color(shades, white);
		text-align: center;
		text-transform: uppercase;
		background-color: color(blue);
		border-radius: .4rem;

		&:hover {
			text-decoration: none;
		}

		&:focus {
			text-decoration: none;
		}
	}

	.open-new-tab {
		display: block;
		font-size: 1.2rem;
		color: color(gray, darker-3);
		text-align: center;
		text-transform: uppercase;
	}

	.popup-title {
		& i {
			display: inline-block;
			margin-top: -1.4rem;
			padding-left: .7rem;
			vertical-align: middle;
		}

		& span {
			@media (max-width: $screen-xs-max) {
				display: block;
			}
		}
	}

	.list-popup {
		position:relative;
		display: block;
		display: inline-block;
		margin-top: 2.8rem;
		margin-left: 5rem;
		padding-left: 0;
		overflow: hidden;
		text-align: left;
		counter-reset: item;

		@media (max-width: $screen-xs-max) {
			margin-left: 0rem;
		}

		.item {
			margin-bottom: 1rem;
			color: color(shades, black);

				@media (max-width: $screen-xs-max) {
					padding-left: 3.2rem;
					text-indent: -3.2rem;
				}

				&:before {
					content: counter(item) ".";
					display: inline-block;
					min-width: 4rem;
					padding-right: 1rem;
					list-style:none;
					color: color(grey, lighter-5);
					text-align: right;
					counter-increment: item;

					@media (max-width: $screen-xs-max) {
						min-width: 3rem;
					}
				}
		}
	}
}

.privacy-policy-popup {
	h3.popup-title {
		margin-bottom: 2rem;
		padding-bottom: 1.8rem;
	}

	.text-block {
		.subtitle {
			font-size: 2rem;
			font-weight: 700;
		}

		p {
			margin-bottom: 1.2rem;
		}
	}
}