.step-menu {
	padding-top: 3.4rem;
	background: linear-gradient(color(shades,white), color(grey, lighter-7));
	background-color: color(grey, lighter-7);

	@media (max-width: $screen-xs-max) {
		padding-top: 2.5rem;
	}

	&_list {
		position: relative;
		display: flex;
		justify-content: center;
		margin-bottom: 3.7rem;

		@media (max-width: $screen-sm-max) {
			margin-bottom: 2.7rem;
			margin-left: 0;

			&::after {
				content: '';
				position: absolute;
				top: 3.5rem;
				z-index: 1;
				width: 80%;
				height: .4rem;
				background-color: color(grey, lighter-1);
			}
		}

		@media (max-width: $screen-xs-max) {
			justify-content: space-between;
			width: 45rem;
			max-width: 100%;
			margin: auto;
			margin-bottom: 2rem;

			&::after {
				top: 2.6rem;
				width: 90%;
				margin-left: 1rem;
			}
		}
	}

	&_link,
	&_link:focus {
		display: flex;
		align-items: center;
		font-size: 2.6rem;
		font-weight: 600;
		color: color(grey, lighter-2);
		cursor: pointer;

		@media (max-width: $screen-sm-max) {
			flex-direction: column;
			justify-content: center;
		}

		@media (max-width: $screen-xs-max) {
			font-size: 1.1rem;
		}

		&:hover {
			color: color(grey, lighter-3);
			text-decoration: none;

			.step-menu_icon {
				border-color: color(grey, lighter-3);
			}
		}
	}

	li.active,
	li.visited {
		.step-menu_step {
			color: color(blue);
		}

		.step-menu_icon,
		.step-menu_icon:active {
			border-color: color(blue);
		}
	}

	li.active {
		.step-menu_icon {
			background: color(blue);

			.ic {
				color: color(shades, white);
			}
		}
	}

	li.visited {
		.step-menu_icon {
			.ic {
				color: color(blue);
			}
		}
	}

	&_icon {
		position: relative;
		z-index: 9;
		width: 5.8rem;
		height: 5.8rem;
		margin-left: 4rem;
		text-align: center;
		background: linear-gradient(color(shades, white), color(grey, lighter-12));
		border: solid .4rem color(grey, lighter-2);
		border-radius: 50%;

		@media (max-width: $screen-sm-max) {
			display: flex;
			justify-content: center;
			margin-right: 4.6rem;
			margin-left: 4.6rem;
		}

		@media (max-width: $screen-xs-max) {
			width: 4.4rem;
			height: 4.4rem;
			margin-right: .9rem;
			margin-left: .9rem;
			border-width: .25rem;
		}

		.ic {
			font-size: 2.8rem;
			line-height: 5rem;
			color: color(grey, lighter-2);

			&-payment {
				font-size: 2rem;
			}

			&-guests {
				font-size: 2.5rem;
			}

			&-flights {
				font-size: 2.6rem;
				line-height: 5.5rem;
			}

			&-room {
				margin-right: .5rem;
			}

			@media (max-width: $screen-xs-max) {
				font-size: 2rem;
				line-height: 4rem;

				&-gateway {
					font-size: 2.2rem;
					line-height: 3.8rem;
				}

				&-flights {
					line-height: 4.4rem;
				}

				&-guests {
					font-size: 1.8rem;
					line-height: 3.8rem;
				}

				&-payment {
					font-size: 1.5rem;
				}
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 2.9rem;
			left: -3.9rem;
			width: 3.5rem;
			height: .4rem;
			background-color: color(grey, lighter-1);

			@media (max-width: $screen-sm-max) {
				display: none;
			}
		}
	}


	li:first-child {
		.step-menu_icon {
			margin-left: 0;

			@media (max-width: $screen-sm-max) {
				margin-right: 4.6rem;
				margin-left: 4.6rem;
			}

			@media (max-width: $screen-xs-max) {
				margin-right: .9rem;
				margin-left: 0;
			}

			&::before {
				display: none;
			}
		}

		.step-menu_link {
			@media (max-width: $screen-xs-max) {
				align-items: flex-start;
			}
		}
	}

	li:last-child {
		.step-menu_icon {

			@media (max-width: $screen-xs-max) {
				margin-right: 0rem;
				margin-left: .9rem;
			}
		}

		.step-menu_link {
			@media (max-width: $screen-xs-max) {
				align-items: flex-end;
			}
		}
	}

	&_step {
		margin-left: .8rem;

		@media (max-width: $screen-sm-max) {
			margin-left: 0;
		}

		@media (max-width: $screen-xs-max) {
			margin-top: .3rem;
			letter-spacing: .1rem;
		}
	}

	&_description {
		margin-top: 4.9rem;
		padding-bottom: 3.6rem;
		font-size: 2.4rem;
		line-height: 3.4rem;
		text-align: center;

		@media (max-width: $screen-sm-max) {
			max-width: 40rem;
			margin: auto;
			margin-top: 4rem;
			padding-bottom: 4.5rem;
			line-height: 3.2rem;
		}

		@media (max-width: $screen-xs-max) {
			margin-top: 3.5rem;
			padding-bottom: 2.7rem;
			font-size: 1.8rem;
			line-height: 2.9rem;
		}

		p {
			margin-bottom: 0;
			margin-left: .5rem;
			line-height: 1;
			color: color(grey, darker-2);

			@media (max-width: $screen-sm-max) {
				margin-top: 4.9rem;
				margin-left: 0;
				line-height: 1.2;
			}

			@media (max-width: $screen-xs-max) {
				margin-top: 0;
				font-size: 1.75rem;
				line-height: 1.3;
			}
		}

		span {
			font-size: 3rem;
			font-weight: 600;

			@media (max-width: $screen-sm-max) {
				display: block;
				padding-right: 2rem;
			}

			@media (max-width: $screen-xs-max) {
				padding-right: 1rem;
				font-size: 2.2rem;
			}
		}

		a {
			padding-right: 2rem;
			font-size: 2.2rem;
			font-weight: 600;
			color: color(blue, lighter-1);
			text-decoration: none;
			cursor: pointer;

			@media (max-width: $screen-xs-max) {
				padding-right: 1rem;
				font-size: 1.7rem;
			}

			&:hover {
				text-decoration: none;
			}

			.ic {
				margin-right: .2rem;
				font-size: 1.8rem;

				@media (max-width: $screen-xs-max) {
					margin-right: .4rem;
					font-size: 1.4rem;
				}
			}
		}
	}
}
