.summary {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 5.3rem;
	background-color: color(grey, dark);

	&_button {
		min-width: 41.5rem;
		height: 100%;
		padding-left: 1rem;
		font-size: 1.8rem;
		color: color(shades, white);
		text-align: center;
		background-color: color(grey, lighter-6);
		cursor: pointer;

		@media (max-width: $screen-sm-max) {
			min-width: 38.5rem;
			padding-left: 3.5rem;
		}

		@media (max-width: $screen-xs-max) {
			min-width: 32rem;
			padding-left: 0;
		}

		&:hover {
			background-color: rgba(color(grey, lighter-6), .7);
		}

		span:focus {
			outline: none;
		}

		.ic {
			padding-right: .2rem;
			font-size: 1.5rem;
			color: color(blue);
		}
	}

	&_button.active {
		z-index: 9;
		background-color: color(blue);

		.ic {
			display: inline-block;
			margin-right: .4rem;
			color: color(shades, white);
			transform: rotate(90deg) translate(10%);
		}
	}
}

.details {
	position: absolute;
	top: 5.3rem;
	right: 0;
	z-index: 3;
	width: 41.5rem;
	padding: 0 3.4rem 2.8rem;
	background-color: color(shades, white);
	box-shadow: 1rem 1rem 10rem;

	@media (max-width: $screen-sm-max) {
		width: 38.5rem;
		padding: 0 1.8rem 2.8rem 2rem;
	}

	@media (max-width: $screen-xs-max) {
		width: 32rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	p {
		margin-bottom: 0;
	}

	&_title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 2.6rem;
		padding-bottom: .8rem;
		font-size: 1.4rem;
		font-weight: 700;
		line-height: 2.6;

		@media (max-width: $screen-xs-max) {
			padding-top: 3.5rem;
		}

		h3 {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.4rem;
			font-weight: 800;
		}

		a {
			height: 1.8rem;
			padding-right: .8rem;
			padding-left: .8rem;
			font-size: 1.1rem;
			font-weight: 600;
			line-height: 1.5;
			color: color(blue);
			text-transform: uppercase;
			text-decoration: none;
			border: .1rem solid color(blue);
			border-radius: .2rem;
		}

		span {
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 1.6;
		}
	}

	&_info{
		border-top: .1rem solid color(grey, lighter-4);

		li {
			display: flex;
			margin-top: 1rem;
			font-size: 1.3rem;
			line-height: 1.4;

			h5 {
				margin-top: .2rem;
				margin-bottom: .2rem;
				font-size: 1.3rem;
			}
		}
	}

	&_left {
		min-width: 13rem;
		font-weight: 600;
		background-color: color(shades, white);

		@media (max-width: $screen-xs-max) {
			min-width: 50%;
		}
	}

	&_right {
		background-color: color(shades, white);

		span {
			display: block;
			font-size: 1.1rem;

			@media (max-width: $screen-xs-max) {
				line-height: 1.8;
			}
		}

		.stop {
			margin-top: 1rem;
			margin-bottom: 1rem;

			@media (max-width: $screen-xs-max) {
				line-height: 2.5;
			}
		}

		&.price {
			min-width: 6.5rem;
			text-align: right;
		}
	}

	&_btn--less {
		margin-top: .7rem;
		margin-left: 13rem;
		font-size: 1.3rem;
		font-weight: 600;
		color: color(blue);
		letter-spacing: .05rem;
		cursor: pointer;

		@media (max-width: $screen-xs-max) {
			margin-bottom: .5rem;
			margin-left: 50%;
		}
	}

	&_btn--hide {
		display: block;
		margin-right: auto;
		margin-left: auto;
		font-size: 1.4rem;
		color: color(blue);
		text-transform: uppercase;

		.ic {
			display: inline-block;
			margin-right: 1rem;
			transform: rotate(-90deg) translateX(-10%);
		}
	}
}

.details_travel {
	.details_title {
		@media (max-width: $screen-xs-max) {
			padding-top: 3.6rem;
		}

		@media (max-width: $screen-xs-max) {
			padding-top: 2.6rem;
		}
	}

	.details_info {
		padding-top: .8rem;
	}
	
	li {
		margin-top: 0;
	}
}

.details_guest {
	.details_title {
		@media (max-width: $screen-xs-max) {
			padding-top: 2.3rem;
		}
	}
}

.details_flight {
	li {
		margin-top: 1.5rem;

		@media (max-width: $screen-xs-max) {
			margin-top: 1rem;
			margin-bottom: 2rem;
		}
	}

	li:last-child {
		@media (max-width: $screen-xs-max) {
			margin-bottom: 0;
		}
	}
}

.details_total {
	margin-bottom: 2.2rem;
	border-bottom: .1rem solid color(grey, lighter-4);

	@media (max-width: $screen-xs-max) {
		margin-bottom: 2.5rem;
		padding-bottom: 2.5rem;
	}

	.details_title {
		padding-top: 1.8rem;

		@media (max-width: $screen-xs-max) {
			padding-top: 1.5rem;
			padding-bottom: .5rem;
		}
	}

	li {
		position: relative;
		display: block;
		overflow: hidden;
	}

	.details_info {
		padding-bottom: 1rem;
	}

	.details_left {
		float: left;
		min-width: 18rem;
		max-width: 22rem;
		font-size: 1.3rem;
		font-weight: 600;
	}

	.details_right {
		float: right;
		padding-left: 1rem;
		font-size: 1.6rem;
	}

	p {
		padding-top: .5rem;
		padding-bottom: 1rem;
		font-size: 1.3rem;
		font-weight: 600;
		line-height: 1.5;

		span {
			font-weight: 700;
		}
	}
}

.details_info--dotted {
	padding-top: 1rem;

	@media (max-width: $screen-xs-max) {
		padding-top: 1.3rem;
	}

	li {
		margin-top: 0;
		line-height: 1.2;

		&::after {
			content: '';
			position: absolute;
			bottom: .6rem;
			left: 0;
			z-index: -1;
			width: 100%;
			border-bottom: .2rem dotted color(grey, lighter-5);
		}
	}
}

.details_info--blue {
	margin-top: -.5rem;

	li {
		align-items: flex-end;
	}

	.details_left,
	.details_right {
		font-size: 2.4rem;
		font-weight: 400;
		line-height: 1;
		color: color(blue);
	}

	.details_left {
		@media (max-width: $screen-xs-max) {
			font-size: 1.8rem;
		}
	}
}