@import "variables";

@font-face {
  font-family: 'obe-icon-font';
  src:
    url('#{$icomoon-font-path}/obe-icon-font.ttf?85gjsa') format('truetype'),
    url('#{$icomoon-font-path}/obe-icon-font.woff?85gjsa') format('woff'),
    url('#{$icomoon-font-path}/obe-icon-font.svg?85gjsa#obe-icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'obe-icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-info {
  &:before {
    content: $ic-info; 
  }
}
.ic-to-top-icon {
  &:before {
    content: $ic-to-top-icon; 
  }
}
.ic-checkbox-check-mark {
  &:before {
    content: $ic-checkbox-check-mark; 
  }
}
.ic-check-mark {
  &:before {
    content: $ic-check-mark; 
  }
}
.ic-arrow {
  &:before {
    content: $ic-arrow; 
  }
}
.ic-flight-ticket {
  &:before {
    content: $ic-flight-ticket; 
  }
}
.ic-flight-24h {
  &:before {
    content: $ic-flight-24h; 
  }
}
.ic-flight-payment {
  &:before {
    content: $ic-flight-payment; 
  }
}
.ic-flight-service {
  &:before {
    content: $ic-flight-service; 
  }
}
.ic-close {
  &:before {
    content: $ic-close; 
  }
}
.ic-flights {
  &:before {
    content: $ic-flights; 
  }
}
.ic-gateway {
  &:before {
    content: $ic-gateway; 
  }
}
.ic-guests {
  &:before {
    content: $ic-guests; 
  }
}
.ic-payment {
  &:before {
    content: $ic-payment; 
  }
}
.ic-room {
  &:before {
    content: $ic-room; 
  }
}
.ic-calendar-icon {
  &:before {
    content: $ic-calendar-icon; 
  }
}
.ic-dropdown-icon {
  &:before {
    content: $ic-dropdown-icon; 
  }
}
.ic-header-menu {
  &:before {
    content: $ic-header-menu; 
  }
}
.ic-info-icon {
  &:before {
    content: $ic-info-icon; 
  }
}
.ic-right-icon {
  &:before {
    content: $ic-right-icon; 
  }
}
.ic-sandals-logo {
  &:before {
    content: $ic-sandals-logo; 
  }
}
.ic-small-menu-icon {
  &:before {
    content: $ic-small-menu-icon; 
  }
}

