$icomoon-font-path: "fonts" !default;

$ic-info: "\e915";
$ic-to-top-icon: "\e906";
$ic-checkbox-check-mark: "\e913";
$ic-check-mark: "\e914";
$ic-arrow: "\e912";
$ic-flight-ticket: "\e911";
$ic-flight-24h: "\e90e";
$ic-flight-payment: "\e90f";
$ic-flight-service: "\e910";
$ic-close: "\e900";
$ic-flights: "\e901";
$ic-gateway: "\e902";
$ic-guests: "\e903";
$ic-payment: "\e904";
$ic-room: "\e905";
$ic-calendar-icon: "\e907";
$ic-dropdown-icon: "\e908";
$ic-header-menu: "\e909";
$ic-info-icon: "\e90a";
$ic-right-icon: "\e90b";
$ic-sandals-logo: "\e90c";
$ic-small-menu-icon: "\e90d";

