/*
// Colors Abstract
// ------------------------------------------------ */

// SASS Example: ============================
//                                          |
//      color: color(grey, darker-2);       |
//                                          |
// ==========================================

// Colors
$blue: (
	default:   #00b8f4,
	lighter-1: #07baf4,
	lighter-2: #56caf0,
	lighter-3: #4ccdf7,
	lighter-4: #d8ecf3,
	lighter-5: #ccdce6,
	lighter-6: #e9f2f8,
	lighter-7: #dbeaf3,
	lighter-8: #ccd8dd
);

$grey: (
	darker-9: #e6e6e6,
	darker-8: #4d5763,
	darker-7: #bbbbbb,
	darker-6: #585858,
	darker-5: #454545,
	darker-4: #7d7c7c,
	darker-3: #666,
	darker-2: #5d5d5d,
	darker-1: #1a1a1a,
	default: #797979,
	lighter-1: #f0f0f0,
	lighter-2: #ddd,
	lighter-3: #d2d1d1,
	lighter-4: #d0d0d0,
	lighter-5: #c0c0c0,
	lighter-6: #424242,
	lighter-7: #ededed,
	lighter-8: #ccc,
	lighter-9: #dedede,
	lighter-10: #acacac,
	lighter-11: #d8d8d8,
	lighter-12: #fbfbfb,
	lighter-13: #cfcfcf,
	lighter-14: #d3d3d3,
	lighter-15: #f5f5f5,
	lighter-16: #d8d9da,
	light:    #979797,
	dark:     #373737
);

$green: (
	default: #88c240
);

$yellow: (
	default: #ffff00
);

$red: (
	darker-1: #d62415,
	default: #ed1c24
);

$pink: (
	default: #d282aa
);

$brown: (
	default: #97938b
);

$shades: (
	black:        #000,
	white:        #fff,
	transparent:  transparent
);

$colors: (
	shades: $shades,
	grey: $grey,
	green: $green,
	yellow: $yellow,
	blue: $blue,
	red: $red,
	pink: $pink,
	brown: $brown
);
